<div class="alert alert-info alertinfo" style="margin-top: 0px">
<h1>  SQL Tools (SQL Server Management studio) </h1>
</div>

<div class="alert-danger" style="margin-top: 0px">
<h1> Read me first </h1>
</div>
This is my shortcut file for quick "copy and paste" or simply to check the syntax of sql statements. 
The DBMS that I'm using is SQL Server Management studio so if you work in different DBMS some syntax might be different.

<div class="alert-success" style="margin-top: 0px">
<h1> Retrieving Data </h1>
</div>

In [ ]:
SELECT prod_id, prod_name, prod_price
FROM Products;

In [ ]:
# Caution: Can’t Be Partially DISTINCT -it applies to all columns, not just the one it precedes. 
SELECT DISTINCT vend_id, prod_name
FROM Products;

In [ ]:
SELECT TOP 5 prod_name
FROM Products;

In [ ]:
# DOESN'T WORK IN SSMS
SELECT prod_name
FROM Products
LIMIT 5 OFFSET 5;

<div class="alert-success" style="margin-top: 0px">
<h1> ORDER BY </h1>
</div>

In [ ]:
# The following code retrieves three columns and sorts the results by two of them—
# first by price (in descending order) and then by name (in ascending order as ASC is default).
SELECT prod_id, prod_price, prod_name
FROM Products
ORDER BY prod_price DESC, prod_name;

<div class="alert-success" style="margin-top: 0px">
<h1> WHERE </h1>
</div>

In [ ]:
# BETWEEN
SELECT prod_name, prod_price
FROM Products
WHERE prod_price BETWEEN 5 AND 10;

In [ ]:
# IS NULL
SELECT cust_name
FROM Customers
WHERE cust_email IS NULL;

In [ ]:
# IN
SELECT prod_name, prod_price
FROM Products
WHERE vend_id  IN ('DLL01','BRS01')
ORDER BY prod_name;

In [ ]:
# NOT
SELECT prod_name
FROM Products
WHERE NOT vend_id  = 'DLL01'
ORDER BY prod_name;

In [ ]:
# LIKE (in SMSS is not case sensitive)
SELECT Name, Town
FROM [dbo].[BusinessInformation]
WHERE Town LIKE 'bed%'

# LIKE (in SMSS [JM]% stands for 'first letter is not J nor M')
SELECT cust_contact
FROM Customers
WHERE cust_contact LIKE '[^JM]%'
ORDER BY cust_contact;

<div class="alert-success" style="margin-top: 0px">
<h1> CALCULATED FIELDS </h1>
</div>

In [ ]:
SELECT vend_name + ' (' + vend_country + ')' AS vend_title
FROM Vendors
ORDER BY vend_name;

In [ ]:
SELECT RTRIM(vend_name) + ' (' + RTRIM(vend_country) + ')' AS vend_title
FROM Vendors
ORDER BY vend_name;

In [ ]:
SELECT prod_id,
       quantity,
       item_price,
       quantity*item_price AS expanded_price
FROM OrderItems
WHERE order_num = 20008;

<div class="alert-success" style="margin-top: 0px">
<h1> FUNCTIONS </h1>
</div>

In [ ]:
# aggregate functions
AVG()
COUNT()
MAX()
MIN()
SUM()

In [ ]:
# string functions
SUBSTRING()
LEFT()
LENGTH() DATALENGTH() LEN()
LOWER()
RTRIM() LTRIM() TRIM()
SOUNDEX()
UPPER()

In [ ]:
# numeric functions
ABS()
COS()
EXP()
PI()
SIN()
SQRT()
TAN()

In [ ]:
# date functions
GETDATE()
DATEPART()

In [ ]:
# data type conversion
CONVERT()

In [ ]:
SELECT AVG(prod_price) AS avg_price
FROM Products
WHERE vend_id = 'DLL01';

In [ ]:
SELECT COUNT(*) AS num_cust # will count nans (DISTINCT will not work)
FROM Customers;

SELECT COUNT(cust_email) AS num_cust # will not count nans (DISTINCT will work)
FROM Customers;

In [ ]:
# To retrieve a list of all orders made in 2012 
SELECT order_num
FROM Orders
WHERE DATEPART(yy, order_date) = 2012;

<div class="alert-success" style="margin-top: 0px">
<h1> GROUP BY </h1>
</div>